*{
  /* font-family: 'Montserrat Alternates', sans-serif; */
  font-family: 'Montserrat', sans-serif;
  overflow:auto;
  scroll-behavior: smooth;
}

.vertical-middle {
  position:relative;
  top:50vh;
}

#title-index{
  position:relative;
  top:38vh;
}

.icon-32{
  width: 32px;
  height: 32px;
}

#text-title-index{

}

.bg-gradient-violetblue{
  background: rgb(2,0,36);
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size:400%;
  animation: gradientBG 15s ease infinite;
}

@keyframes gradientBG {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.bg-gradient-redblue{
  background: rgb(9,9,121);
  background: linear-gradient(90deg, rgba(9,9,121,1) 7%, rgba(5,90,175,1) 46%, rgba(0,212,255,1) 100%);
  background-size:400%;
  animation: gradientBG 25s ease infinite;
}

.bg-gradient-neon{
  background: linear-gradient(#B3FFAB, #12FFF7);
  background-size:400%;
  animation: gradientBG 12s ease infinite;
}

.bg-gradient-reef{
  background: linear-gradient(#00d2ff, #3a7bd5);
  background-size:400%;
  animation: gradientBG 5s ease infinite;
}

.icon-background{
  left:65%;
  /*opacity:0.3;*/
  -webkit-mask-image: linear-gradient(to left, rgba(0,0,0,0), rgba(0,0,0,0.4), rgba(0,0,0,0));
  top:-80%;
}

hr{
  margin:0px;
}

ul{
  margin-bottom:0px;
}

#work-title{
  padding-top:2%;
  position:relative;
  top:-2%;
}

#scrolldown-work:hover{
  cursor: pointer;
  animation: color_change 0.1s forwards;
}

#scrolldown-work:hover img{
    animation: invert_change 0.1s forwards;
}

@keyframes invert_change {
  animation-fill-mode: forwards;
  0%{
    filter:invert(1)
  }
  100%{
    filter:invert(100)
  }
}

@keyframes color_change {
    0%{
      color:#686868;
    }
    100%{
      color:#FFFFFF;
    }
}
